---
layout: archive
title: "Public Portfolio"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

{% if site.portfolio_category %}
  {% for category in site.portfolio_category  %}
    {% assign title_shown = false %}
    {% for post in site.portfolio reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include portfolio-list.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.portfolio reversed %}
    {% include portfolio-list.html %}
  {% endfor %}
{% endif %}


